<!DOCTYPE html>
<html>

<head>
  <style>
    .center {
      margin-left: auto;
      margin-right: auto;
    }

    #header {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 25px;
      overflow: auto;
    }

    #header-main {
      float: left;
      margin-left: auto;
      margin-right: auto;
	  width:50%;
      text-align: center;
    }

    #header-left {
      float: left;
      margin-left: auto;
      margin-right: auto;
	  width:25%;
    }

    #header-right {
      float: right;
      margin-left: auto;
      margin-right: 20px;
	  width:25%;
      text-align: right;
    }
	
	table { page-break-inside:auto; }
    
	tr    { page-break-inside:avoid; page-break-after:auto; }
    
	thead { display:table-header-group; }
    
	tfoot { display:table-footer-group; }
  </style>
</head>

<body>

  <div id="header">
    <div id="header-right">
      Run Date: {{ report_run_dt }} <br>
      Run Time: {{ report_run_time }} <br>
      Page: <pdf:pagenumber>
    </div>
	{% for value in list_data[0]%}
    <div id="header-left">
      TSP Report No:  {{value["TSP_REPORT_NUMBER"]}}  <br>
      Payroll Office No: {{value["PAYROLL_OFFICE_NUMBER"]}} <br>
      Requestor: {{value["REQUESTOR"]}} <br>
      TSPQ
    </div>
    <div id="header-main">
      Savings Plan <br>
      Participant Transaction History Report <br>
      Name: {{value["PARTICIPANT_NAME"]}}
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      SSN: {{value["PART_SSN"]}}
    </div>
  </div>
  <table class="center" >
    <caption>
      ** Sensitive Personnel Data - Use is Restricted ** <br><br>
    </caption>
    <tr>
      <td>DOB: {{value["DOB"]}}</td>
      <td>Plan: {{value["PLAN"]}}</td>
      <td>Dpt: {{value["DEPARTMENT_CODE"]}}</td>
      <td>AGY: {{value["DEPARTMENT_CODE"]}}</td>
      <td>PON: {{value["PAYROLL_OFFICE_NUMBER"]}}</td>
      <td>POI: {{value["PERSONAL_OFFICE_INDICATOR"]}}</td>
      <td>EC: {{value["EMPLOYMENT_CODE"]}}&nbsp;{{value["EMPLOYMENT_CODE_EFFECTIVE_DATE"]}}</td>
      <td>SCD: {{value["SERVICE_COMPUTATION_DATE"]}}</td>
      <td>Period: {{value["INPUT_START_DATE"]}}&nbsp; {{value["INPUT_END_DATE"]}}</td>
      <td>AE: {{value["AUTO_ENROLLMENT_CODE"]}}</td>
    </tr>
  </table>
  {% endfor %}
  <br>

  <table class="center" repeat="1">
  <thead>
    <tr>
      <th scope="col">PO Nbr<br>--------</th>
      <th scope="col">JV #<br>------</th>
      <th scope="col">Post Date<br>------</th>
      <th scope="col">Pay Date<br>------</th>
      <th scope="col">activity<br>------</th>
      <th scope="col">AE<br>------</th>
      <th scope="col">rv<br>------</th>
      <th scope="col">Fund<br>------</th>
      <th scope="col">employee<br>------</th>
      <th scope="col">automatic<br>------</th>
      <th scope="col">matching<br>------</th>
      <th scope="col">total<br>------</th>
    </tr>
    </thead>
    <tbody>

	{% for value in list_data[1]%}

	
      <tr>
        <!--PO Nbr-->
        <td></td>
        <!--JV #-->
        <td></td>
        <!--Post Date-->
        <td>{{value["POST_DATE"]}}</td>
        <!--Pay Date-->
        <td>{{value["PAY_DATE"]}}</td>
        <!--activity-->
        <td>{{value["ACTIVITY"]}}</td>
        <!--AE-->
        <td>{{value["AE"]}}</td>
        <!--rv-->
        <td>{{value["RV"]}}</td>
        <!--Fund-->
        <td>{{value["FUND"]}}</td>
        <!--employee-->
        <td>{{value["EMPLOYEE"]}}</td>
        <!--automatic-->
        <td>{{value["AUTOMATIC"]}}</td>
        <!--matching-->
        <td>{{value["MATCHING"]}}</td>
        <!--total-->
        <td>{{value["ROW_TOTAL"]}}</td>
      </tr>
	  
      {% endfor %}
		
	  {% for value in list_data[2]%}
      <tr>
        <!--PO Nbr-->
        <td></td>
        <!--JV #-->
        <td></td>
        <!--Post Date-->
        <td></td>
        <!--Pay Date-->
        <td></td>
        <!--activity-->
        <td></td>
        <!--AE-->
        <td></td>
        <!--rv-->
        <td></td>
        <!--Fund-->
        <td>{{value["FUND_SUM"]}}</td>
        <!--employee-->
        <td>{{value["EMPLOYEE_FUND_SUM"]}}</td>
        <!--automatic-->
        <td>{{value["AUTOMATIC_FUND_SUM"]}}</td>
        <!--matching-->
        <td>{{value["MATCHING_FUND_SUM"]}}</td>
        <!--total-->
        <td>{{value["ROW_FUND_TOTAL_SUM"]}}</td>
      </tr>

      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>******</td>
		{% for value in list_data[3]%}
        <td>-----------<br>{{value["EMPLOYEE_SUM"]}}</td>
        <td>-----------<br>{{value["AUTOMATIC_SUM"]}}</td>
        <td>-----------<br>{{value["MATCHING_SUM"]}}</td>
        <td>-----------<br>{{value["ROW_TOTAL_SUM"]}}</td>
		{% endfor %}
      </tr>
    </tfoot>
  </table>
</body>

</html>










        <!-- -->
        <td></td>
        <!-- -->
        <td></td>
        <!-- -->
        <td></td>
        <!-- -->
        <td></td>
        <!-- -->
        <td></td>
        <!-- -->
        <td></td>
        <!-- -->
        <td></td>
        <!-- -->
        <td></td>
        <!-- -->
        <td></td>
        <!-- -->
        <td></td>
        <!-- -->
        <td></td>
        <!-- -->
        <td></td>
        <!-- -->
        <td></td>



        <!-- -->
        <td></td>
        <!-- -->
        <td></td>
        <!-- -->
        <td></td>
        <!-- -->
        <td></td>
        <!-- -->
        <td></td>
        <!-- -->
        <td></td>
        <!-- -->
        <td></td>
        <!-- -->
        <td></td>
        <!-- -->
        <td></td>
        <!-- -->
        <td></td>
        <!-- -->
        <td></td>
        <!-- -->
        <td></td>
        <!-- -->
        <td></td>





        <!-- -->
        <td></td>
        <!-- -->
        <td></td>
        <!-- -->
        <td></td>
        <!-- -->
        <td></td>
        <!-- -->
        <td></td>
        <!-- -->
        <td></td>
        <!-- -->
        <td></td>
        <!-- -->
        <td></td>
        <!-- -->
        <td></td>
        <!-- -->
        <td></td>
        <!-- -->
        <td></td>
        <!-- -->
        <td></td>
        <!-- -->
        <td></td>
