<table class="center" repeat="1">
  <thead>
    <tr>
      <th scope="col">Plan Year</th>
      <th scope="col">Activity</th>
      <th scope="col">Employee Contribution</th>
      <th scope="col">Agency Automatic</th>
      <th scope="col">Matching Dollar Contribution</th>
      <th scope="col">Row Total</th>
    </tr>
    </thead>
    <tbody>
	{% set prev_value = {'plan_year':'dummy','activity':'dummy','employee_contribution':'dummy','agency_automatic':'dummy','matching_dollar_contribution':'dummy','row_total':'dummy'}  %}

	{% set sum_emp_contrib = namespace(value=0) %}
  {% set sum_agency_auto= namespace(value=0) %}
  {% set sum_match_dollar_contrib = namespace(value=0) %}
  {% set sum_row_total = namespace(value=0) %}

	{% set ln = list_data[0]|length %}
	{% for value in list_data[0] %}
		{% set prev_value = loop.previtem %}
		{% if loop.index0 == ln-1%}
		{% set next_value = {"plan_year":value["plan_year"],"activity":0,"employee_contribution":0,"agency_automatic":0, "matching_dollar_contribution":0, "row_total":0} %}
		{% else %}
		{% set next_value = loop.nextitem %}
		{% endif %}
	
		{% set curr_plan_year, curr_activity, curr_emp_contrib, curr_agency_auto, curr_match_dollar_contrib, curr_row_total = value["plan_year"],value["activity"],value["employee_contribution"],value["agency_automatic"],value["matching_dollar_contribution"],value["row_total"]  %}
		{% set next_plan_year, next_activity, next_emp_contrib, next_agency_auto, next_match_dollar_contrib, next_row_total = next_value["plan_year"],next_value["activity"],next_value["employee_contribution"],next_value["agency_automatic"],next_value["matching_dollar_contribution"],next_value["row_total"]  %}
		

    {% set sum_emp_contrib.value = sum_emp_contrib.value + curr_emp_contrib|float %}
    {% set sum_agency_auto.value = sum_agency_auto.value + curr_agency_auto|float %}
    {% set sum_match_dollar_contrib.value = sum_match_dollar_contrib.value + curr_match_dollar_contrib|float %}
    {% set sum_row_total.value = sum_row_total.value + curr_row_total|float %}

	<tr>
    {% if loop.index0 > 0  and curr_plan_year == loop.previtem["plan_year"] %}
    <td scope="col" style="text-align:right"></td>
    {% else %}
      <td scope="col" style="text-align:right">{{value["plan_year"]}}</td>
    {% endif %}  
      <td scope="col" style="text-align:right">{{value["activity"]}}</td>
      <td scope="col" style="text-align:right">{{value["employee_contribution"]}}</td>
      <td scope="col" style="text-align:right">{{value["agency_automatic"]}}</td>
      <td scope="col" style="text-align:right">{{value["matching_dollar_contribution"]}}</td>
      <td scope="col" style="text-align:right">{{value["row_total"]}}</td>
    </tr>
	{% if loop.index0 > 0  and curr_plan_year!= next_plan_year %}
  <tr>
    <td scope="col" style="text-align:right">-------------</td>
    <td scope="col" style="text-align:right">-------------</td>
    <td scope="col" style="text-align:right">-------------</td>
    <td scope="col" style="text-align:right">-------------</td>
    <td scope="col" style="text-align:right">-------------</td>
    <td scope="col" style="text-align:right">-------------</td>
  </tr>
	<tr>
      <td scope="col" style="text-align:right">{{curr_plan_year}}</td>
      <td scope="col" style="text-align:right">****</td>
      <td scope="col" style="text-align:right">{{sum_emp_contrib.value}}</td>
      <td scope="col" style="text-align:right">{{sum_agency_auto.value}}</td>
      <td scope="col" style="text-align:right">{{sum_match_dollar_contrib.value}}</td>
      <td scope="col" style="text-align:right">{{sum_row_total.value}}</td>
    </tr>
    <tr>
      <td scope="col" style="text-align:right">-------------</td>
      <td scope="col" style="text-align:right">-------------</td>
      <td scope="col" style="text-align:right">-------------</td>
      <td scope="col" style="text-align:right">-------------</td>
      <td scope="col" style="text-align:right">-------------</td>
      <td scope="col" style="text-align:right">-------------</td>
    </tr> 
	{% endif %}

  {% if loop.index0 > 0  and loop.index0 == ln-1 %}
  <tr>
    <td scope="col" style="text-align:right">-------------</td>
    <td scope="col" style="text-align:right">-------------</td>
    <td scope="col" style="text-align:right">-------------</td>
    <td scope="col" style="text-align:right">-------------</td>
    <td scope="col" style="text-align:right">-------------</td>
    <td scope="col" style="text-align:right">-------------</td>
  </tr>
	<tr>
    <td scope="col" style="text-align:right">{{curr_plan_year}}</td>
    <td scope="col" style="text-align:right">****</td>
    <td scope="col" style="text-align:right">{{sum_emp_contrib.value}}</td>
    <td scope="col" style="text-align:right">{{sum_agency_auto.value}}</td>
    <td scope="col" style="text-align:right">{{sum_match_dollar_contrib.value}}</td>
    <td scope="col" style="text-align:right">{{sum_row_total.value}}</td>
    </tr>
    <tr>
      <td scope="col" style="text-align:right">-------------</td>
      <td scope="col" style="text-align:right">-------------</td>
      <td scope="col" style="text-align:right">-------------</td>
      <td scope="col" style="text-align:right">-------------</td>
      <td scope="col" style="text-align:right">-------------</td>
      <td scope="col" style="text-align:right">-------------</td>
    </tr>
	{% endif %}

  {% if (loop.index0 > 0  and curr_plan_year != next_plan_year) or (loop.index0 > 0  and loop.index0 == ln-1) %}
	{% set sum_emp_contrib.value = 0 %}
  {% set sum_agency_auto.value = 0 %}
  {% set sum_match_dollar_contrib.value = 0 %}
  {% set sum_row_total.value = 0 %}
  {% endif %}
	{% endfor %}
    </tbody>
    
  </table>
